#main-section {
  background-image: url("/assets/img/code-bg.jpg");
}

#portrait {
  width: 100%;
  border-radius: .5em
}

.button-image {
  height: 100%;
}

.is-horizontal-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.is-pushed-to-bottom {
  margin-top: auto;
}
.is-pushed-to-top {
  margin-bottom: auto;
}